{% extends "base_generic.html" %}

{% block headlinks %}

    <style>
        label {
            top: 0;
        }

        input[type="text"] {
            font-size: 16px;
            width: 300px;
        }

        input[type="password"] {
            font-size: 16px;
            width: 300px;
        }
    </style>

{% endblock %}

{% block header %}Login Form{% endblock %}

{% block content %}

{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p class="center top-margin Geneva-font big-text">Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
    {% else %}
        <p class="center top-margin Geneva-font big-text" >Please login to see this page.</p>
    {% endif %}
{% endif %}

<form class="center-margin width-size-25" method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>

<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>

<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>

</table>

<input class="right top-margin" type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}"/>
</form>

{% endblock %}