{% extends 'base_generic.html' %}

{% block meta %}
    <meta name="description" content="Change your profile password.">
{% endblock %}

{% block headlinks %}

    <style>
        input[type="password"] {
            font-size: 16px;
            width: 400px;
        }
    </style>

{% endblock %}

{% block header %}Password Change Form{% endblock %}

{% block content %}
    <form class="width-size-45" action="" method="post">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <ul>
            <input class="right top-margin" type="submit" value="Submit">
        </ul>
    </form>
{% endblock %}