{% extends 'base_generic.html' %}

{% block meta %}
    <meta name="description" content="Your Game Night user profile.">
{% endblock %}

{% block headlinks %}
    <style>
        td {
            border-bottom: none;
            font-family: Geneva, sans-serif;
        }

        ul li {
            display: inline-block;
        }

    </style>
{% endblock %}

{% block header %}{{ user.username }}'s Profile{% endblock %}

{% block content %}
    <table class="top-margin center-margin">
        <tr>
            <td class="right-line">First Name</td>
        {% if user.first_name %}
            <td>{{ user.first_name }}</td>
        {% else %}
            <td><em>not set</em></td>
        {% endif %}
        </tr>

        <tr>
            <td class="right-line">Last Name</td>
        {% if user.last_name %}
            <td>{{ user.last_name }}</td>
        {% else %}
            <td><em>not set</em></td>
        {% endif %}
        </tr>

        <tr>
            <td class="right-line">Email</td>
        {% if user.email %}
            <td>{{ user.email }}</td>
        {% else %}
            <td><em>not set</em></td>
        {% endif %}
        </tr>
    </table>

    <ul class="center-margin width-size-35">
        <li><a class="button" href="{% url 'profile_change' %}"><p>Edit Profile</p></a></li>
        <li><a class="button" href="{% url 'password' %}"><p>Change Password</p></a></li>
    </ul>
{% endblock %}