{% extends 'base_generic.html' %}

{% block meta %}
    <meta name="description" content="Change your Game Night emailing list preferences.">
{% endblock %}

{% block header %}Mail List Index{% endblock %}

{% block content %}
    <ul class="vertical-buttons">
        <a href="{% url 'add_email' %}" class="unlink"><li class="button">Add</li></a>
        <a href="{% url 'modify_email' %}" class="unlink"><li class="button">Modify</li></a>
        <a href="{% url 'delete_email' %}" class="unlink"><li class="button">Delete</li></a>
    </ul>

{% endblock %}