{% extends 'base_generic.html' %}

{% block meta %}
    <meta name="description" content="Form for bringing games to the next Game Night meeting.">
{% endblock %}

{% block header %}Game Bring Form{% endblock %}

{% block content %}
    <form class="width-size-45" action="" method="post">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <br/>

        <ul>
            <input class="right" type="submit" value="Submit">
        </ul>
    </form>
{% endblock %}