{% extends 'base_generic.html' %}

{% block meta %}
    <meta name="description" content="The games that will be brought to the next Game Night meeting.">
{% endblock %}

{% block header %}Games for Next Meeting{% endblock %}

{% block content %}
    <div class="split-grid">
        <div class="grid-left top-left-shift">
            {% if not no_meeting %}
            <a href="{% url 'game_bring' %}" class="button"><p>Bring New Game</p></a>
            {% endif %}
            {% if games %}
            <table class="grid-table bordered">
                <tr>
                    <th class="blue-back">Game Name</th>
                    <th class="blue-back">Carrier</th>
                </tr>
                {% for game in games %}
                <tr>
                    <td>{{ game.game }}</td>
                    <td>{% if game.person %}{{ game.person }}{% else %}Anonymous{% endif %}</td>
                </tr>
                {% endfor %}
            </table>

            {% elif no_meeting %}
            <p class="top-margin big-text Geneva-font center">No Meetings Scheduled!</p>

            {% else %}
            <p class="top-margin big-text Geneva-font center">No games to show. Be the first to bring one!</p>

            {% endif %}
        </div>

        <div class="full-border centered">
            <p class="intro">Game of the Week</p>
            {% if game_of_week %}
            <p>{{ game_of_week.game }}</p>
            <img height="400" width="400" class="center-display" src="{{ game_of_week.image_url }}" alt="Image of the featured game of the week">

            {% else %}
            <p>No game of the week</p>

            {% endif %}
        </div>
    </div>

{% endblock %}