{% extends 'base_generic.html' %}

{% block headlinks %}
    <script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=tav1wrwcz8d06dwg1mqdqpy0g2nt8svcwbr310phy2yt0wtv"></script>
    <script>tinymce.init({selector:'textarea'});</script>
{% endblock %}

{% block content %}
    <h1 class="header">Mail Form</h1>

    <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>
{% endblock %}