{% extends 'base_generic.html' %}

{% block meta %}
    <meta name="description" content="Confirmation page of mass mail submission.">
{% endblock %}

{% block header %}Mail Submission{% endblock %}

{% block content %}
    <p>Are you sure you want to send the mail? This action <strong>cannot</strong> be undone!</p>

    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" value="Yes, I'm sure">
    </form>

    <a href="{% url 'mass_mail' %}"><p>No, take me back!</p></a>
{% endblock %}