{% extends 'base_generic.html' %}

{% block meta %}
    <meta name="description" content="The form for editing and sending mass emails for Game Night meetings.">
{% endblock %}

{% block headlinks %}

    <style>
        input[type="text"] {
            font-size: 18px;
            width: 600px;
        }

        label {
            top: 10px;
        }

        #warning {
            display: none;
        }

        @media (max-width: 800px) {
            th, td {
                display: block;
            }

            #warning {
                display: block;
            }

            input[type="text"] {
                font-size: 16px;
                width: 200px;
            }
        }
    </style>

{% endblock %}

{% block header %}Mail Form{% endblock %}

{% block content %}
    {% if no_meeting %}
    <p class="top-margin big-text Geneva-font center">
        The next meeting is not scheduled!
    </p>

    {% else %}
    <p class="red-color top-margin big-text Geneva-font center" id="warning">
        It is highly recommended that mail editing be done on desktop.
    </p>
    <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <br/>

        <ul class="right">
            <input type="submit" name="save" value="Save">
            <input type="submit" name="test" value="Save and Send Test Mail">
            <input type="submit" name="submit" value="Save and Submit">
        </ul>

        <br/>
    </form>
    {% endif %}
{% endblock %}