{% extends 'base_generic.html' %}

{% block meta %}
    <meta name="description" content="The mass mail that has been sent for the next meeting.">
{% endblock %}

{% block header %}Mail Form{% endblock %}

{% block content %}
    <p class="top-margin big-text Geneva-font">The email for the next meeting was sent at {{ time }}</p><br/>

    <p class="top-margin big-text Geneva-font">Subject: {{ subject }}</p><br/>
    <p class="top-margin big-text Geneva-font">Content:</p>
    {% autoescape off %}{{ content }}{% endautoescape %}
{% endblock %}