{% extends 'base_generic.html' %}

{% block headlinks %}
	{% load static %}
	<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/coin.css' %}">
{% endblock %}

{% block content %}
    <h1 class="header">Random</h1>

    <p>Under construction!</p>

    <label for="rand-ind">Randomizer Index:</label>
    <input class="autofield" type="number" id="rand-ind" min="0" step="1" value="{{ initial_num }}">

    <div class="rand">
    	<p>Heads or Tails</p>
    	<div id="coin">
    		<div class="side-a"></div>
    		<div class="side-b"></div>
    	</div>
    </div>

    <div class="rand">
    	<p>Pick number between...</p>
    	<label for="start-num">Start:</label>
    	<input class="autofield" type="number" id="start-num" min="0" step="1" value="1">
    	<label for="end-num">End:</label>
    	<input class="autofield" type="number" id="end-num" min="0" step="1" value="10">
    	<p id="rand-output"></p>
    	<p id="rand-warn"></p>
    	<button id="pick-rand">Pick Random</button>
    </div>

    <div class="rand-groups">
        <p>Create random groups</p>
        <textarea id="groups" rows="6", cols="20"></textarea>
        <label for="num-groups">Number Of Groups:</label>
        <input class="autofield" type="number" id="num-groups" min="2" max="4" step="1" value="2">
        <input type="radio" name="gen-type" value="even" checked="checked"> Even Group Generation <br>
        <input type="radio" name="gen-type" value="rand"> True Random Generation <br>
        <div class="group">
            <p>Group 1</p>
            <ul id="group1"></ul>
        </div>
        <div class="group">
            <p>Group 2</p>
            <ul id="group2"></ul>
        </div>
        <div class="group">
            <p>Group 3</p>
            <ul id="group3"></ul>
        </div>
        <div class="group">
            <p>Group 4</p>
            <ul id="group4"></ul>
        </div>
        <br>
        <button id="pick-groups">Pick Groups</button>
    </div>

    <div class="stock-image">
        <p>Random Generation based on changes in the Stock Market</p>
        {% load static %}
        <img src="{% static 'images/stock.jpeg' %}" alt="Stock market price changes graph">
    </div>

    {% load static %}
    <script src="{% static 'js/autofield.js' %}"></script>
    <script src="{% static 'js/deltas.min.js' %}"></script>
    <script src="{% static 'js/random.js' %}"></script>
    <script src="{% static 'js/coin.js' %}"></script>
    <script src="{% static 'js/rand-num.js' %}"></script>
    <script src="{% static 'js/rand-groups.js' %}"></script>

{% endblock %}