{% extends "base_generic.html" %}

{% block meta %}
    <meta name="description" content="A fun space game to play.">
{% endblock %}

{% block headlinks %}
    {% load static %}
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Space+Mono:400,700" rel="stylesheet">

    <style>
        #bad {
            display: none;
        }

        @media (max-width: 1400px) {
            #bad {
                display: block;
                line-height: 1.5em
            }

            #good {
                display: none;
            }

            #help {
                display: none;
            }
        }
    </style>
{% endblock %}

{% block header %}Space Game{% endblock %}

{% block content %}

    <p class="top-margin big-text Geneva-font center" id="bad">
        Sorry, the space game is only available on desktop due to its size. If you ARE on desktop, try increasing the window size and if that doesn't work, buy a bigger computer I guess ¯\_(ツ)_/¯ (It seems to work on 13-inch laptops).
    </p>

    <div class="top-margin" id="good">
        <p class="code">> <span id="space-text">Click to start space game</span><blink>_</blink></p>
        <canvas id="space-game" class="game-canvas" width="1400" height="400"></canvas>
        <p class="code small">
        Current Score: <span id="personal-score">0</span> | 
        {% if user.is_authenticated %}
            Personal Best: <span id="personal-best">{{ personal_best }}</span> | 
        {% endif %}
        Site Best: <span id="site-best">{{ site_best }}</span> | 
        Drifters Destroyed Sitewide: <span id="drifters-destroyed">{{ drifters }}</span> | 
        <span id="paperclip-game">Inspired by <a class="unlink lblue-color blue-hover" href="http://www.decisionproblem.com/paperclips" id="paperclip-link" target="blank">the paperclips game</a></span>
        </p>
    </div>

    <p class="gray-color top-margin big-text Geneva-font center" id="help">
        Using a mouse is recommended. If the controls seem off, try refreshing the page!
    </p>

    <script>
        var site_best = parseInt("{{ site_best }}");
        var site_drifters = parseInt("{{ drifters }}");
        var personal_best = parseInt("{{ personal_best }}");
        var user = false;
    </script>
    {% if user.is_authenticated %}
    <script>
        user = true;
    </script>
    {% endif %}
    <script>
        const base_url = "{% url 'space_game' %}"
    </script>
    <script src="{% static 'js/blink.js' %}"></script>
    <script src="{% static 'js/space-game.min.js' %}"></script>
{% endblock %}