html, body {
    min-height: 100vh;
    position: relative;
}

.b1m .message:before {
    content: '☺ ';
}
        
.b1m {
    background-color: green;
}

.b2a .message:before {
    content: '⚠ ';
}

.b2a {
    background-color: yellow;
}

.b3w .message:before {
    content: '☢' ;
    font-size: 14px;
}

.b3w {
    background-color: red;
}

.notify:before {
    content: '✔ ';
}

.notify {
    background-color: green;
    font-size: 20px;
    padding: 3px;
}

.banner {
    padding: 3px;
}

.banner .message {
    font-size: 12px;
}

.banner .confirm {
    float: right;
    margin-right: 2%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    color: purple;
}

.banner .confirm:hover {
    color: blue;
}

.errorlist {
    color: red;
}

#content {
    padding-bottom: 6rem;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    padding-top: 0.5rem;
    background: rgb(0, 0, 102);
}

#footer-text {
    text-align: center;
    color: white;
}

#version-text {
    color: gray;
}

#top-bars {
    display: grid;
    width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 8fr 1fr;
}

#navbar {
    font-size: 12px;
    list-style: none;
    background-color: rgba(0, 0, 102, .7);
    grid-area: 1 / 1 / span 1 / span 1;
}

#navbar li {
    padding: 12px;
    display: inline-block;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#navbar li:hover {
    color: blue;
}

#login-bar {
    list-style: none;
    background-color: rgba(85, 85, 85, .7);
    grid-area: 1 / 2 / span 1 / span 1;
}

#login-bar li {
    margin: 5px 10px 5px 10px;
    padding: 2px 10px;
    text-align: center;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    border: 1px solid black;
    background-color: #568CDC;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#login-bar li:hover {
    background-color: rgb(255, 128, 0); /* orange */
    color: white;
}

#game-night-stamp {
    font-size: 16px;
    font-weight: bold;
}

#particles-js {
    background-color: rgb(255, 128, 0);
    width: 100%;
    height: 140px;
    z-index: -10;
}

#logo {
    position: relative;
    top: 5px;
}

#git-link {
    background-color: white;
}

form .helptext {
    color: grey;
}

form label {
    font-family: Geneva, sans-serif;
}

input[type="submit"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 16px;
}

input[type="text"] {
    margin-bottom: 10px;
}

input[type="email"] {
    margin-bottom: 10px;
}

label {
    position: relative;
    top: 8px;
}

@media (min-width: 1000px) {
    form {
        width: 53%;
        margin: auto;
        margin-top: 15px;
    }

    #footer {
        height: 1.5rem;
    }

    #navbar {
        font-size: 16px;
    }

    #navbar li {
        padding: 20px;
    }

    #game-night-stamp {
        font-size: 20px;
    }

    .banner .message {
        font-size: 20px;
    }

    .b3w .message:before {
        content: '☢' ;
        font-size: 16px;
    }
}
