<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}{% endblock %}
    {% block title %}<title>Game Night</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ****** faviconit.com favicons ****** -->
    {% load static %}
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
    <link rel="icon" sizes="16x16 32x32 64x64" href="{% static 'favicon/favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="196x196" href="/{% static 'faviconfavicon-192.png' %}">
    <link rel="icon" type="image/png" sizes="160x160" href="{% static 'favicon/favicon-160.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96.png' %}">
    <link rel="icon" type="image/png" sizes="64x64" href="{% static 'favicon/favicon-64.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16.png' %}">
    <link rel="apple-touch-icon" href="{% static 'favicon/favicon-57.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/favicon-114.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/favicon-72.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/favicon-144.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/favicon-60.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/favicon-120.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/favicon-76.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/favicon-152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/favicon-180.png' %}">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{% static 'favicon/favicon-144.png' %}">
    <meta name="msapplication-config" content="{% static 'favicon/browserconfig.xml' %}">
    <!-- ****** faviconit.com favicons ****** -->

    <!-- Add CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/utils.css' %}">
    {% block headlinks %}
    {% endblock headlinks %}
</head>
<body>
    <div id="top-bars">
        <ul id="navbar">
            <a href="{% url 'index' %}"><li id="game-night-stamp">
                <img width="22" height="22" src="{% static 'images/logo.png' %}" id="logo" alt="Game Night Logo"> Game Night at UIUC
            </li></a>
            <a href="{% url 'time_location' %}"><li>Time & Location</li></a>
            <a href="{% url 'games' %}"><li>Games</li></a>
            <a href="{% url 'email_list_index' %}"><li>Email List</li></a>
            <a href="{% url 'contact' %}"><li>Contact</li></a>
            <a href="{% url 'random' %}"><li>Random</li></a>
            <a href="{% url 'space_game' %}"><li>Space Game</li></a>
            <a href="{% url 'mass_mail' %}"><li>Email Structure (Officers only)</li></a>
            <a href="{% url 'experimental' %}"><li>Experimental</li></a>
        </ul>
        <ul id="login-bar">
            {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" class="unlink"><li>Welcome, {{ user.get_username }}</li></a>
            <a href="{% url 'logout' %}?next={{request.path}}" class="unlink"><li>Sign Out</li></a>
            {% else %}
            <a href="{% url 'login' %}" class="unlink"><li>Log In</li></a>
            <a href="{% url 'signup' %}" class="unlink"><li>Sign Up</li></a>
            {% endif %}
        </ul>
    </div>
    {% if notify %}
        <p class="notify">{{ notify }}</p>
    {% endif %}
    {% for message in messages %}
        <div class="b{{ message.severity }} banner">
            {% if user.is_authenticated %}
                <a href="{% url 'alert' %}?id={{ message.id }}&next={{ request.path }}"><p class="confirm">Got it!</p></a>
            {% endif %}
            <p class="message">{{ message |safe }}</p>
        </div>
    {% endfor %}
    <div id="content">
        {% block headercard %}
            <div class="header">
                <div class="foreground">{% block header %}{% endblock %}</div>
                <div class="background" id="particles-js"></div>
            </div>  
        {% endblock %}
        <div id="main-content">{% block content %}{% endblock %}</div>
    </div>
    {% block pagination %}
    {% if page_obj %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                <a href=" {{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    {% endblock %}
    <footer id="footer">
        <p id="footer-text">&copy 2019 Game Night at UIUC | 
            <a class="unlink white-color blue-hover" href="{% url 'admin:index' %}" target="_blank" rel="noopener">Admin Site</a> |
            <a class="unlink white-color blue-hover" href="{% url 'changelog' %}">Changelog</a> |
            <a class="unlink white-color blue-hover" href="{% url 'privacy' %}">Privacy</a>
            <span id="version-text">v0.10 alpha</span>
            <a href="https://github.com/penguinz1/Game_Night" target="_blank" rel="noopener"><img height="14" width="14" src="{% static 'images/git.png' %}" id="git-link" alt="Link to Github Repository"></a>
        </p>
    </footer>

    {% block particles %}
        {% load static %}
        <script src="{% static 'js/particles.js' %}"></script>
        <script>
        particlesJS.load('particles-js', "{% static 'assets/particles.json' %}", function(){
            console.log('Successfully loaded Javascript particles!');
        });
        </script>
    {% endblock %}
</body>
