{% extends "base_generic.html" %}

{% block meta %}
    <meta name="description" content="The official website for the UIUC Game Night club!">
{% endblock %}

{% block headlinks %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <style type="text/css">
        /* 
        * provided by stack overflow:
        * https://stackoverflow.com/questions/7266755/easy-way-to-center-variable-width-divs-in-css
        */
        #hideoverflow { overflow: hidden; }
        #outer { position: relative; left: 50%; float: left; }
        #inner { position: relative; left: -50%; float: left; }

        @media (max-width: 1450px) {
            #play {
                display: none;
            }
        }
    </style>
{% endblock %}

{% block headercard %}
{% endblock %}

{% block content %}
    <h1 class="title">Game Night</h1>
    <p class="subtitle">at the University of Illinois, Urbana-Champaign (UIUC)</p>
    <div class="center top-margin" id="play"><a class="button button-arrow curved-box" href="{% url 'space_game' %}"><p class="main-text">Let's Play!</p></a></div>
    <div id="hideoverflow">
        <div id="outer">
            <div id="inner">
                <ul class="box top-margin-50">
                    <li><p class="main-text white-color">Next Meeting:</p></li>
                    {% if meeting %}
                        <li><p class="main-text white-color top-margin">{{ meeting.time }}</p></li>
                        <li><p class="main-text white-color top-margin">@ {{ meeting.location }}</p></li>
                    {% else %}
                        <li><p class="main-text white-color top-margin">Next meeting is not yet scheduled!</p></li>
                    {% endif %}
                        <li class="top-margin">
                            <a class="unlink blue-hover" href="{% url 'time_location' %}">See future meetings</a>
                        </li>
                </ul>
            </div>
        </div>
    </div>

    {% if video %}
        <br><p class="center lblue-color main-text text-shadow top-margin">Video of the Day:</p>
        <p class="center main-text text-shadow top-margin"><a class="lpurple-color blue-hover" href="{{ video.link }}" target="_blank" rel="noopener" rel="nofollow">{{ video.visible_text }}</a></p>
    {% endif %}

    {% if quote %}
        <br>
        <p class="center lblue-color main-text text-shadow top-margin-50"><strong>{{ quote.quote }}</strong> - <em>{{ quote.speaker }}</em></p>
    {% endif %}
{% endblock %}

{% block particles %}
{% endblock %}
