{% extends "base_generic.html" %}

{% block meta %}
    <meta name="description" content="The official website for the UIUC Game Night club!">
{% endblock %}

{% block headlinks %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <style type="text/css">
        #hideoverflow { overflow: hidden; }
        #outer { position: relative; left: 50%; float: left; }
        #inner { position: relative; left: -50%; float: left; }
    </style>
{% endblock %}

{% block headercard %}
{% endblock %}

{% block content %}
    <h1 class="title">Game Night</h1>
    <p class="subtitle">at the University of Illinois, Urbana-Champaign (UIUC)</p>
    <div class="center top-margin"><a class="button" href=""><p>let's play</p></a></div>
    <div id="hideoverflow">
        <div id="outer">
            <div id="inner">
                <ul class="box top-margin">
                    <li><p>next meeting</p></li>
                    <li><p>time</p></li>
                    <li><p>location</p></li>
                </ul>
            </div>
        </div>
    </div>
    <p class="center">quote of the day</p>
    <p class="center">video of the day</p>
    {% if quote %}
        <p class="center"><strong>{{ quote.quote }}</strong> - <em>{{ quote.speaker }}</em></p>
    {% endif %}
    {% if video %}
        <p class="center">Video of the Day - <a href="{{ video.link }}" target="blank">{{ video.visible_text }}</a></p>
    {% endif %}
{% endblock %}

{% block particles %}
{% endblock %}
