{% extends "base_generic.html" %}

{% block content %}
    <h1 class="header">Javascript Testing</h1>
    <p>Oooooh, super secret page</p>

    {% load static %}
    <script>
        var success = true;
    </script>
    <script src="{% static 'js/deltas.min.js' %}"></script>
    <script src="{% static 'js/random.js' %}"></script>
    <script src="{% static 'js/rand-groups.js' %}"></script>
    <script src="{% static 'js/space-game.js' %}"></script>

    <script src="{% static 'js/tests/random.test.js' %}"></script>
    <script src="{% static 'js/tests/rand-groups.test.js' %}"></script>
    <script src="{% static 'js/tests/space-game.test.js' %}"></script>

    <script src="{% static 'js/tests/tests.js' %}"></script>
{% endblock %}
