{% extends "base_generic.html" %}

{% block meta %}
    <meta name="description" content="Testing javascript.">
{% endblock %}

{% block content %}
    <h1 class="header">Javascript Testing</h1>
    <p>Oooooh, super secret page</p>

    <!-- space game artifacts -->
    <canvas id="space-game" width="100" height="100"></canvas>

    <!-- rand-group artifacts -->
    <textarea id="groups" rows="6", cols="20"></textarea>
    <input class="autofield" type="number" id="num-groups" min="2" max="4" step="1" value="2">
    <button id="pick-groups">Pick Groups</button>

    {% load static %}
    <script>
        var success = true;
    </script>
    <script src="{% static 'js/deltas.min.js' %}"></script>
    <script src="{% static 'js/random.js' %}"></script>
    <script src="{% static 'js/rand-groups.js' %}"></script>
    <script src="{% static 'js/space-game.js' %}"></script>

    <script src="{% static 'js/tests/random.test.js' %}"></script>
    <script src="{% static 'js/tests/rand-groups.test.js' %}"></script>
    <script src="{% static 'js/tests/space-game.test.js' %}"></script>

    <script src="{% static 'js/tests/tests.js' %}"></script>
{% endblock %}
